<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No account</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body style="background-color: rgb(243, 226, 202)">
    <h1 style="color:rgb(13, 23, 23); margin:250px 0 0 600px;">No Account Found !</h1>
    <br><br>
    <a href="http://localhost:8080/posts" style="margin-left: 700px">Go back</a>
</body>
</html>