<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Posts</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <div class="new_post">
        <h1>Create New Post</h1>
    <form method="post" action="/posts">
    <input type="text" placeholder="Enter Username" name="username">
    <br><br>
    <textarea type="" placeholder="Write Your Post here !" name="content"></textarea>
    <br>
    <button>Submit Post</button>
 </form>
</div>

</body>
</html>